<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Faircent Demo</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" title="Faircent"><img
          src="https://www.faircent.com/sites/all/themes/media-responsive-theme/logo.png" /> </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">How It works</a></li>
        <li><a href="#">Lenders</a></li>
        <li><a href="#">Borrowers</a></li>
        <li><a href="#">Knowledge Centre</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h4 class="col-md-6">Live Feed</h4>
              <a href="#" class="col-md-6 pull-right">More Statistics</a>
            </div>
          </div>
          <div class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h3>Register Now</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Lender
    <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/individual">Individual</a></li>
                <li><a href="/organization">Organization</a></li>
              </ul>
            </div>
            <p>Get Returns up to 25%</p>
          </div>
          <div class="col-md-6">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Borrower
    <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="personal-loan.html">Personal Loan</a></li>
                <li><a href="business-loan.html">Business Loan</a></li>
              </ul>
            </div>
            <p>Get rates as low as 12%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
